:root {
  --mainColor: #0c2258;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.table thead {
  background-color: darkcyan;
}
.table tbody tr:nth-child(odd) {
  background-color: #1e3369;
}
.table.table-dark {
  color: whitesmoke;
  background-color: var(--mainColor);
}
.table-row td {
  padding: 0px 10px;
  vertical-align: baseline;
}
